.env
**/__pycache__/
**.pytest_cache
# Entornos virtuales
venv/
.env/
.venv/
# Compilaciones
build/
dist/

# Archivos de PyInstaller
*.spec

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configuration
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

#Configuraciones de gamma lab
gamma_lab_settings.json

# Archivos auxiliares de LaTeX
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
*.blg

# Archivos temporales de LaTeX
*.nav
*.snm
*.vrb

# PDF generado (opcional)
# *.pdf
